<div class="flex flex-column">

  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  <span class="text-lg mb-4">Ingresar</span>


  <form [formGroup]="myForm" class="flex flex-column">
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <button mat-flat-button color="primary"
    (click)="onLogin()">
      Iniciar sesión
    </button>
  </form>


  <div class="justify-content-end mt-4">
    <a routerLink="/auth/register">¿Aún no tienes una cuenta?</a>
  </div>
</div>
