<div class="flex flex-column">
  <span class="text-lg mb-4">Ingresar</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Password">
  </mat-form-field>

  <button mat-flat-button color="primary"
  (click)="onLogin()">
    Iniciar sesión
  </button>

  <div class="justify-content-end mt-4">
    <a routerLink="/auth/register">¿aún no tienes una cuenta?</a>
  </div>


</div>
