<div class="full-screen flex flex-column align-content-center">

  <div class="flex flex-column">

    <form [formGroup]="myForm" class="flex flex-column align-content-center screen-size">
      <span class="text-lg mb-4 mt-3">Hacer una pregunta</span>

      <mat-form-field class="example-full-width">
        <mat-label>Pregunta</mat-label>
        <textarea type="text" matInput placeholder="pregunta" formControlName="question"></textarea>
      </mat-form-field>

      <button mat-flat-button color="primary"
      (click)="onPostQuestion()">Preguntar
        </button>
    </form>
  </div>


  <h1 class="mt-4"><strong>Sección de preguntas</strong></h1>

  <div>
    <mat-card class="screen-size mt-2" appearance="outlined" *ngFor="let question of questions">
      <mat-card-header>
        <mat-card-title class="text-sm">{{ question.userName }}</mat-card-title>
        <!-- <mat-basic-chip class="p-2">{{ question.createdAt }}</mat-basic-chip> -->
      </mat-card-header>
      <mat-card-content class="p-2">
        <p class="text-lg"><strong>{{ question.content }}</strong></p>
      </mat-card-content>

      <mat-divider></mat-divider>


      <form [formGroup]="myAnswerForm" class="flex flex-column align-content-center ">
        <mat-form-field class="answer-width mt-5">
          <mat-label>Responder</mat-label>
          <textarea matInput placeholder="Responder" formControlName="answer"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary"
        class="answer-width"
      (click)="onPostAnswer(question.questionId)">Responder
        </button>
      </form>


      <mat-card-content>
        <p>Respuestas:</p>
        <div *ngFor="let answer of answers" >
          <mat-list *ngIf="question.questionId == answer.questionId">
            <strong >
              <div >{{ answer.content }}</div>
              <mat-divider></mat-divider>
            </strong>
          </mat-list>
        </div>
      </mat-card-content>


    </mat-card>
  </div>

</div>
