<div class="full-screen flex flex-column align-content-center">

  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  <div class="flex flex-column">

    <form [formGroup]="myForm" class="flex flex-column align-content-center screen-size">
      <span class="text-lg mb-4 mt-3">Hacer una pregunta</span>

      <mat-form-field class="example-full-width">
        <mat-label>Pregunta</mat-label>
        <textarea type="text" matInput placeholder="pregunta" formControlName="question"></textarea>
      </mat-form-field>

      <button mat-flat-button color="primary"
      (click)="onPostQuestion()">Preguntar
        </button>
    </form>
  </div>


  <h1 class="mt-4"><strong>Sección de preguntas</strong></h1>
  <button mat-raised-button (click)="onUpdateData()">Actualizar</button>


  <div>
    <mat-card class="screen-size mt-2 p-4" appearance="outlined" *ngFor="let question of questions">

      <mat-card-header class="text-lg align-self-center">La pregunta está: {{ onSwitchQuestionStatus(question.isClosed) }}</mat-card-header>

      <mat-card-header>
        <div class="flex justify-content-between align-items-center w-full">
          <mat-card-title class="text-sm">Usuario: {{ question.userName }}</mat-card-title>
          <div class="flex align-items-center" *ngIf="question.isClosed === false">
            <button mat-flat-button class="link-button p-2"
            *ngIf="question.questionUserId === user?.userId"
            (click)="onCloseQuestion(question.questionId)">
            Cerrar pregunta
            </button>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content class="p-2">
        <p class="text-lg"><strong>{{ question.content }}</strong></p>
      </mat-card-content>

      <mat-divider></mat-divider>


      <form [formGroup]="myAnswerForm" class="flex flex-column align-content-center" *ngIf="question.isClosed == false">
        <mat-form-field class="answer-width mt-5">
          <mat-label>Responder</mat-label>
          <textarea matInput placeholder="Responder" formControlName="answer"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary"
        class="answer-width"
      (click)="onPostAnswer(question.questionId)">Responder
        </button>
      </form>


      <mat-card-content>
        <p class="text-sm font-bold mt-3">Respuestas:</p>
        <button mat-raised-button
        *ngIf="question.isClosed == false"
        (click)="onUpdateData()">Actualizar</button>
        <div *ngFor="let answer of answers" class="ml-4 mt-2">
          <mat-list *ngIf="question.questionId == answer.questionId">
            <strong class="">
              <div>
                <mat-card-actions>usuario: {{ answer.userName }}</mat-card-actions>
                <mat-card-content class="text-lg">{{ answer.content }}</mat-card-content>
              </div>
              <mat-divider></mat-divider>
            </strong>
          </mat-list>
        </div>
      </mat-card-content>


    </mat-card>
  </div>

</div>
